#inp-form{
    border: 1px solid gray;
}

#inp-form:focus{
    border: 2px solid black;
}

@media (max-width: 1105px){
    #form-and-image-cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
    #form-cont{
        max-height: 50%;
    }
    
}