body {
  background-color: #343a40; /* Fondo negro */
  color: #ffc107; /* Texto de color warning */
}

.card {
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.navbar {
  padding: 1rem 2rem;
}

.navbar-brand img {
  width: 200px;
  height: auto;
}

.nav-link {
  font-size: 1.2rem;
  transition: color 0.2s;
}

.nav-link:hover {
  color: #ffc107 !important;
}

.divider-custom {
  display: flex;
  align-items: center;
  text-align: center;
}

.divider-custom-line {
  flex: 1;
  height: 1px;
  background-color: #ffc107;
}

.divider-custom-icon {
  padding: 0 1rem;
  color: #ffc107;
  font-size: 2rem;
}

.btn-warning {
  color: #343a40;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-warning:hover {
  color: #343a40;
  background-color: #e0a800;
  border-color: #d39e00;
}

.btn-dark {
  color: #ffc107;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-dark:hover {
  color: #ffc107;
  background-color: #23272b;
  border-color: #1d2124;
}
